[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<BOUCLE_thesaurus(THESAURUS){id_thesaurus}>
	<thesaurus thesaurus-name="#NAME">
		<thesaurus-metadata>
			<intitule-thesaurus>
				<BOUCLE_intitule_thesaurus(DATA){source tableau, #INTITULE_THESAURUS|extraire_trads}{si #INTITULE_THESAURUS==<multi>}>[
				<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
				]</BOUCLE_intitule_thesaurus>
				<lib xml:lang="#LANG">[(#INTITULE_THESAURUS|texte_backend)]</lib>
				<//B_intitule_thesaurus>
			</intitule-thesaurus>
		</thesaurus-metadata>
		<BOUCLE_groupes_mots(spip_thesaurus_liens){id_thesaurus}{objet=groupe}>
		<BOUCLE_mots_cles(MOTS){id_groupe=#ID_OBJET}>
		<motcle motcle-id="#ID_MOT">
			<BOUCLE_intitule_mot(DATA){source tableau, #TITRE*|extraire_trads}{si #TITRE*==<multi>}>[
			<lib xml:lang="(#CLE)">[(#VALEUR|texte_backend)]</lib>
			]</BOUCLE_intitule_mot>
			<lib xml:lang="#LANG">[(#TITRE|texte_backend)]</lib>
			<//B_intitule_mot>
		</motcle>		
		</BOUCLE_mots_cles>
		</BOUCLE_groupes_mots>
	</thesaurus>
</BOUCLE_thesaurus>	
