<div class="formulaire_spip formulaire_editer formulaire_editer_zone formulaire_editer_export-#ENV{id_exportscrutari,nouveau}">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
		<input type='hidden' name='id_exportscrutari' value='#ID_EXPORTSCRUTARI' />
		<div class="editer-groupe">
			<div class="editer editer_base_name obligatoire[ (#ENV**{erreurs}|table_valeur{base_name}|oui)erreur]">
				<label for="base_name"><:scrutariexport:base_name:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{base_name})</span>]
				<input type='text' class='text' name='base_name' id='base_name' value="#ENV{base_name}" />
            </div>
			<div class="editer editer_intitule_short obligatoire[ (#ENV**{erreurs}|table_valeur{intitule_short}|oui)erreur]">
				<label for="intitule_short"><:scrutariexport:intitule_short:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{intitule_short})</span>]
				<input type='text' class='text' name='intitule_short' id='intitule_short' value="#ENV{intitule_short}" />
            </div>
			<div class="editer editer_intitule_long obligatoire[ (#ENV**{erreurs}|table_valeur{intitule_long}|oui)erreur]">
				<label for="intitule_long"><:scrutariexport:intitule_long:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{intitule_long})</span>]
				<input type='text' class='text' name='intitule_long' id='intitule_long' value="#ENV{intitule_long}" />
            </div>
            <fieldset>
                <legend><:scrutariexport:corpus_de_l_export:></legend>
                <div class='editer editer_corpus'>
		  		    [(#INCLURE{fond=formulaires/inc-select_corpus_export}{corpus=#ENV{corpus}})]
                </div>
            </fieldset>
            <fieldset>
                <legend><:scrutariexport:thesaurus_de_l_export:></legend>
                <div class='editer editer_thesaurus'>
                    [(#INCLURE{fond=formulaires/inc-select_thesaurus_export}{thesaurus=#ENV{thesaurus}})]
                </div>
            </fieldset>
		</div>
		<p id="ouvrir-configuration-avancee"><a href="#">Configuration avancée</a></p>
		<div id="configuration-avancee" class="editer-groupe" style="display:none;">
			<div class="editer editer_authority_uuid obligatoire[ (#ENV**{erreurs}|table_valeur{authority_uuid}|oui)erreur]">
				<label for="authority_uuid"><:scrutariexport:authority_uuid:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{authority_uuid})</span>]
				<input type='text' class='text' name='authority_uuid' id='authority_uuid' value="#ENV{authority_uuid}" />
            </div>
		</div>

		<script type="text/javascript">
			$('#ouvrir-configuration-avancee > a').click(function() {
				$('#configuration-avancee').toggle();
			});
		</script>

		[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
		<!--extra-->
		<p class='boutons'><input type='submit' class='submit' value='[(#ENV{id_exportscrutari}|?{<:bouton_enregistrer:>,<:bouton_ajouter:>})]' /></p>
	</div></form>
	]
</div>
