<BOUCLE_thesaurus(THESAURUS){par name}>
<div class='choix'>
    <input type='checkbox' name='thesaurus[]' value='#ID_THESAURUS' id='thes#ID_THESAURUS' [(#ID_THESAURUS|in_any{#ENV{thesaurus}})checked='checked']/>
    <label for='thes#ID_THESAURUS'>#INTITULE_THESAURUS</label>
</div>
</BOUCLE_thesaurus>