[(#REM)
/**
 * Plugin Scrutari Export
 * Licence GPL (c) 2011 Coredem
 *
 */
]
<h1 class="grostitre"><:scrutariexport:liste_exports:></h1>
<B_exports>
<ul class='liste-items exports'>
<BOUCLE_exports(EXPORTSCRUTARI){par id_exportscrutari}>
<li class='item export'><h3><code>[#INTITULE_SHORT]</code>[ – (#INTITULE_LONG|typo)]</h3>
<p>URL à transmettre : <br />[(#URL_PAGE{scrutari_info}|url_absolue)&amp;amp;id_exportscrutari=#ID_EXPORTSCRUTARI]</p>

[(#AUTORISER{administrer,scrutariexport})<div class='actions'>
	<span class='lien_supprimer'>[(#BOUTON_ACTION{<:scrutariexport:icone_supprimer_export:>,#URL_ACTION_AUTEUR{supprimer_export,#ID_EXPORTSCRUTARI,#SELF},ajax,<:scrutariexport:confirmer_supprimer_export:>})]</span>
	| <span class='lien_modifier'><a href='[(#URL_ECRIRE{scrutari_export_edit_export,id_exportscrutari=#ID_EXPORTSCRUTARI}|parametre_url{redirect,#SELF})]'><:bouton_modifier:></a></span>
</div>]
</li>
</BOUCLE_exports>
</ul>
</B_exports>

[(#URL_ECRIRE{scrutari_export_edit_export,id_export=oui}|parametre_url{redirect,#SELF}|icone_verticale{<:scrutariexport:creer_export:>,scrutari_export-24.png,new,right})]
