[(#AUTORISER{administrer,scrutariexport,#ID_EXPORTSCRUTARI}|sinon_interdire_acces)]

#SET{retour,#ENV{redirect}|sinon{#ENV{id_corpus}|?{#URL_ECRIRE{scrutari_export_corpus,id_corpus=#ID_CORPUS},#URL_ECRIRE{scrutari_export_corpus}}}}
<div class='cadre-formulaire-editer'>
	<div class="entete-formulaire">
		[(#GET{retour}|icone_verticale{<:icone_retour:>,corpuss,'',left retour[(#ENV{retourajax,''}|oui)ajax preload]})]
		[[(#VAL{corpus}|objet_info{texte_modifier}|_T)]
		<h1>(#ENV{intitule_corpus,#INFO_TITRE{corpus,#ID_CORPUS}|sinon{<:info_sans_titre:>}})</h1>]
	</div>
	#FORMULAIRE_EDITER_CORPUS{#ENV{id_corpus,oui},#GET{retour}}
</div>
